* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
body {

    position: relative;
}

.hammer-cursor img {

    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 3;
    transform: translate(-10px, -30px);
    pointer-events: none;
}
.center {

    display: flex;
  justify-content: center;
  align-items: center;
}
button {

    margin: 20px;
    padding: 10px 20px;
}
.stop {

    display: none;
}
.mole {

    z-index: 1;
    position: absolute;
    bottom: -30%;
    transform: translateX(20%);
    animation: appear 0.3s linear;
    pointer-events: none;
}
.hole {
    height: 140px;
    width: 200px;
    position: relative;
    padding: 5px;
    background-image: url("images/mole-hole-2.jpg");
    background-size: 80% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
@keyframes appear {

    from {

        bottom: -100%;
    }
    to {

        bottom: -30%;
    }
}
@keyframes hit {
    
    from {

        transform: rotate(0deg);
    }
    to {

        transform: rotate(-60deg);
    }
}