* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
}
.mole {

    z-index: 0;
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translateX(-50%);
    animation: appear 0.5s linear;
    pointer-events: none;
}
.hole {
    height: 140px;
    width: 200px;
    z-index: 1;
    position: relative;
    padding: 5px;
    background-image: url("images/mole-hole-2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
@keyframes appear {

    from {

        bottom: -100%;
    }
    to {

        bottom: -20%;
    }
}